*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
    width:100%;
    height: 600px;
    display: flex;
}

.split{
    width: 50%;
    height: 100%;
    transition: all 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.left{
    background-image: url('image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}


.right{
    background-image: url('image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.left:hover {
    width:75%;
}
.left:hover + .right{
    width: 25%;
}
.right:hover{
    width: 75%;

}
.right:hover + .left{
    width: 25%;
}
.btn1{
    width: 120px;
    height: 50px;
    border: 2px solid black;
    background: transparent;
    color: black;
    margin: 20px;
    transition: all 0.8s ease;
}
.btn1:hover{
    background-color: darkgreen;
    border: none;
    color: white;
    
}

.btn2{
    
    width: 120px;
    height: 50px;
    border: 2px solid black;
    background: transparent;
    color: black;
    margin: 20px;

}
.btn2:hover{
    background-color: darkgreen;
    border: none;
    color: white;
}

.h1{
    margin-bottom: 5px;
    transform: translateX(-50%);
}